<!DOCTYPE html>
<html>
<head>
    <title>Upload và Chỉnh Sửa Hình Ảnh</title>
</head>
<body>
<h1>Upload và Chỉnh Sửa Hình Ảnh</h1>

<h2>Upload Hình Ảnh Mới</h2>
<form id="uploadForm" method="post" enctype="multipart/form-data" action="/upload/image">
    <input type="file" name="image" accept="image/png, image/jpeg" required />
    <button type="submit">Upload</button>
</form>

<h2>Chỉnh Sửa Hình Ảnh</h2>
<form id="editForm" method="post" enctype="multipart/form-data" th:action="@{/upload/update/{id}(id=${imgs.img_id})}">
    <label for="imageId">Chọn Hình Ảnh:</label>
    <select id="imageId" name="id">
        <!-- Dữ liệu về các hình ảnh từ backend sẽ được đặt vào đây -->
        <option th:each="image : ${dataimg}" th:value="${image.img_id}" th:text="${image.tenanhimg}"></option>
    </select>
    <input type="file" name="image" accept="image/png, image/jpeg" />
    <button type="submit">Update</button>
</form>

<script>
    // JavaScript có thể được sử dụng để điều chỉnh hình ảnh được chọn trong menu dropdown
    document.getElementById("imageId").addEventListener("change", function() {
        var selectedImageId = this.value;
        // Nếu bạn muốn thực hiện một hành động nào đó khi hình ảnh được chọn, bạn có thể thực hiện ở đây
    });
</script>
</body>
</html>
