<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="x : ${loais}">
                    <td th:text="${x.Loai_ID}"></td>
                    <td th:text="${x.tenloai}"></td>
                    <td th:text="${x.trangthai}"></td>
                    <td>
                        <a th:href="@{/loai/edit/{id} (id=${x.Loai_ID})}">C?p Nh?t</a>
                        <a th:href="@{/loai/delete/{id} (id=${x.Loai_ID})}">Xoa</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
