.bg-light-pink {
    background-color: #CCCC99 !important;
}
.bg-light-green {
    background-color: #777777 !important; /* Màu xanh l?c tím cho navbar */
}
.card-text del {
    font-size: small;
}
.card-text b{
    font-size: large;
    color: red;
}
.custom-img {
    width: 150px; /* Chi?u r?ng c? ??nh */
    height: 250px; /* Chi?u cao c? ??nh */
    object-fit: cover; /* Ch? ?? s?p x?p hình ?nh */
  }
  .mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}