<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<footer class="bg-dark text-white text-center py-4">
    <div class="container" id="footer">
      <div class="row">
        <div class="col-md-4">
          <h5>Liên Hệ</h5>
          <p>Địa Chỉ: Ngũ Phúc, Kiến Thuỵ, Hải Phòng</p>
          <p>Email: hieudzpro4444@gmail.com</p>
          <p>Điện Thoại: 0382291114</p>
        </div>
        <div class="col-md-4">
          <h5>Theo Dõi Chúng Tôi</h5>
          <a href="#" class="text-white mr-3"><i class="fab fa-facebook-f"></i> Facebook</a>
          <a href="#" class="text-white mr-3"><i class="fab fa-twitter"></i> Twitter</a>
          <a href="#" class="text-white"><i class="fab fa-instagram"></i> Instagram</a>
        </div>
        <div class="col-md-4">
          <h5>&copy; 2024 My Đ Hiếu. All rights reserved.</h5>
        </div>
      </div>
    </div>
  </footer>