<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Day la Vi ne</div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ten Vi</th>
                    <th>Trangthai</th>
                    <th>HanhDong</th>
                </tr>
            </thead>
            <tbody >
                <tr th:each="x : ${viS}">
                    <td th:text="${x.vi_id}"></td>
                    <td th:text="${x.tenvi}"></td>
                    <td th:text="${x.trangthai}"></td>
                    <td> 
                        <div>
                            <a th:href="@{delete/{id}(id=${x.vi_id})}">xoa</a>
                        </div>
                        <div>
                            <a th:href="@{edit/{id}(id=${x.vi_id})}">Sua</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
